@import './styles/shared.scss';
.container {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 40px;
  color: #010101;
  align-items: flex-start;
  align-content: flex-start;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.navigationt {
  padding: 16px;
  font-size: 14px;
  background: var(--bg-color);
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;

  font-weight: 700;
  place-items: center;
  @media screen and (min-width: 480px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
}
.link {
  background-image: linear-gradient(
    to right,
    var(--title-color),
    var(--title-color) 50%,
    var(--second-text-color) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;

  &:before {
    content: '';
    background: var(--title-color);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    background-position: 0;
  }

  &.active {
    background-image: linear-gradient(
      to right,
      var(--title-color),
      var(--title-color) 50%,
      var(--title-color) 50%
    );
  }
}

.link:hover::before {
  width: 100%;
}
