.timer {
  min-width: 400px;
  text-align: center;
  border: 10px solid silver;
  color: white;
  padding: 10px;
  background-color: rgb(6, 74, 110);
}
.buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
