.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
  @media screen and (min-width: 480px) {
    display: contents;
  }
  @media screen and (min-width: 768px) {
    display: contents;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.picture {
  font-size: 100%;
  max-width: calc(350px - 8px);
  @media screen and (min-width: 480px) {
    max-width: calc(480px - 14px);
  }
  @media screen and (min-width: 768px) {
    max-width: calc(768px - 14px);
  }
  @media screen and (min-width: 1200px) {
    max-width: calc(1100px - 14px);
  }
}
