.statistics {
  text-align: center;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.item {
  border: 1px solid var(--second-text-color);
  border-radius: 1200px;
  padding: 6px;
  max-width: 600px;
  min-width: 300px;
  font-size: 20px;
  color: var(--second-text-color);
  text-transform: capitalize;
}
